[Bb]in/
[Oo]bj/
TestResults/

*.nupkg
packages/

.idea/
*.sln.iml
*.csproj.iml
*.riderModule.iml
_ReSharper.Caches/
_ReSharper.*/
*.DotSettings.user

.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db